<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/JulNkd/rocket-market"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <span class="i-rocket">🚀</span> at Le Wagon
    </div>
</div>
