<div class="container">
  <div class="banner">
    <div class="wrapper">
      <h1>RENT YOUR DREAM </br>ROCKET!</h1>
      <input class="banner-input" value="Enter an address" type="text">
      <button class="main-btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      </div>
    </div>
  </div>
  <h1>COUCOU</h1>
  <ul>
    <% @rockets.each do |rocket| %>
      <li><%= link_to rocket.name, rocket_path(rocket) %></li>
    <% end %>
  </ul>
</div>
