<div class="container">
  <div class="banner">
    <div class="wrapper">
      <h1>RENT YOUR DREAM ROCKET!</h1>
      <form class="form-banner">
        <input class="banner-input" value="Enter an address" type="text">
        <button class="main-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
      <%= render "shared/card" %>
  </div>
</div>
