<div class="container" style="max-width: 700px;">
  <div class="form-container">
    <h1>Book your rocket</h1>
    <%# <script> function func(){
      document.getElementsByClassName('flatpickr-input').classList.add('active')
      };
    </script> %>

    <div class="flatpickr-input">
      <%= simple_form_for [@rocket, @reservation] do |f| %>
      <%= f.input :start_date, label: 'Select dates', as: :string, input_html: { class: "datepicker"} %>
      <%= f.input :travelers, label: 'Select number of travelers' %>
      <%= f.submit class:"button-60"%>
    <% end %>
    </div>
  </div>
</div>
<%# <div class="stick-footer-book"></div> %>
