.banner {
  width: auto;
  height: 400px;
  border-radius: 10px;
  background-image: url("banner.jpeg");
  background-size: cover;
  background-position: 50%;
  color: white;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  // input[type="text"] {
  //   font-family: "Poppins", sans-serif, regular;
  //   font-size: 16px;
  //   color: rgba(0, 0, 0, 0.50);
  //   padding-left: 10px;
  // }

  // input[type = submit] {
  //   background-image: linear-gradient(45deg, #E11716, #FFBC10);
  //   border: none;
  //   text-decoration: none;
  //   border-radius: 6px;
  //   height: 20px;
  //   width: 50px;
  //   padding: 20px 20px;
  //   margin: 20px 20px;
  //   cursor: pointer;
  // }
}

.banner-input {
  width: 700px;
  height: 50px;
  border-style: none;
  border-radius: 4px;

}
