.banner {
  width: auto;
  height: 400px;
  border-radius: 10px;
  background-image: url("banner.jpeg");
  background-size: cover;
  background-position: 50%;
  color: white;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

.form-banner {
  display:flex;
  flex-direction:row;
}

.banner-input {
  width: 700px;
  height: 50px;
  border-style: none;
  border-radius: 4px;

}


.info-banner {
  width: auto;
  height: 200px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("info.jpeg");
  background-size: cover;
  background-position: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }
}

.profil-banner {
  width: auto;
  height: 200px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("profil-banner.jpeg");
  background-size: cover;
  background-position: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
}
