.banner {
  width: auto;
  height: 400px;
  border-radius: 10px;
  background-image: url("banner.jpeg");
  background-size: cover;
  background-position: 50%;
  color: white;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

.form-banner {
  display:flex;
  flex-direction:row;
}

.banner-input {
  width: 700px;
  height: 50px;
  border-style: none;
  border-radius: 4px;

}
