.main-btn {
  background-image: linear-gradient(45deg, #E11716, #FFBC10);
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  height: 20px;
  width: 50px;
  padding: 20px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-left: -55px;
  margin-top: 5px;
}

.simple-btn {
  background-image: linear-gradient(45deg, #E11716, #FFBC10);
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  height: 20px;
  width: 50px;
  padding: 20px 20px;
  cursor: pointer;
}

.green-btn {
  background-image: linear-gradient(45deg, #65c020, #148b24);
  border: none;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 50px;
  width: 200px;
  padding: 20px 20px;
  cursor: pointer;
  margin-left: 159.2px;
}

.blue-btn {
  background-image: linear-gradient(45deg, #41b6f1, #0084ef);
  border: none;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 50px;
  width: 200px;
  padding: 20px 20px;
  cursor: pointer;
}

.red-btn {
  background-image: linear-gradient(45deg, #e13737, #a40101);
  border: none;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 50px;
  width: 200px;
  padding: 20px 20px;
  cursor: pointer;
  margin-right: 78.4px;
}
