.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  margin-bottom: 60px;
  justify-content: center;
}

.card-trip {
  background-color: #1D1D1D;
  width: 400px;
  border-radius: 8px;
  margin-top: 20px;
  a {
    overflow: hidden;
    text-decoration: none;
    color: white;
  }
  .card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .avatar-bordered {
    position: relative;
    left: 350px;
    bottom: 110px;
  }
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip .card-trip-booking {
  padding: 16px;
  display: flex;
  position: relative;
  .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .a-hover:hover {
    color: white;
    opacity: 1;
  }
  .card-section {
    margin-top: 10px;
  }
}

.card-trip .card-trip-rockets {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
  .a-hover:hover {
    color: white;
    opacity: 1;
  }
  .card-section {
    margin-top: 10px;
  }
}
