.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 100px;
}

.card-trip {
  background-color: #1D1D1D;
  width: 400px;
  border-radius: 8px;
  margin-top: 20px;
  a {
    overflow: hidden;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  .card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .avatar-bordered {
    position: relative;
    left: 350px;
    bottom: 110px;
  }
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
