.footer {
  background: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 80px;
  color: rgba(255, 255, 255, 0.6);
  left: 0;
  bottom: 0;
  margin-top: 30px;
  .i-rocket {
    color: white;
    font-size: 25px;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.55;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
