.navbar-complete {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}


.wrapper-nav {
  min-width: 50%;
  padding: 12px;
  img {
    width: 130px;
  }
}

.nav-links{
  display: flex;
  align-items: center;
  a {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }
}
