.navbar-complete {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}


.wrapper-nav {
  min-width: 50%;
  padding: 12px;
  img {
    width: 130px;
  }
}

.nav-links{
  min-width: 25%;
  display: flex;
  align-items: center;
}
