.navbar-lewagon {
  justify-content: space-around;
  background: #0E0E13;
  flex-direction: row;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
