// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import 'flatpickr/dist/flatpickr';

// Your CSS partials
@import "components/index";
@import "pages/index";


//Font
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@400;500;700&display=swap');


//General style
body {
  background-color: #0E0E13;
}

h1 {
  color: white;
  }
.landing {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.devise-links {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
}

.accueil {
  text-align: center;
}

.container {
  align-items: center;
  height: 100vh;
}

.forgot-password {
  display: inline-block;
}

.landing-title {
  font-weight: revert;
}
