// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//Font
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:wght@400;500;700&display=swap');


//General style
body {
  background-color: #0E0E13;
}

h1 {
  color: white;
}
